<div class="container"><br><br>
  <p id="notice"><%= notice %></p>
  <h1>あなたのプロフィール</h1>
  <% if current_user.icon.attached? %>
    <%= image_tag current_user.icon, size: '100x100', class: "rounded-circle" %>
  <% else %>
    <%= image_tag "no_image.png", size: '100x100', class: "rounded-circle" %>
  <% end %>
  <% if current_user %>
    <% if current_user.name != nil %>
      <h3><%= current_user.name %></h3>
    <% else %>
      <%= link_to "名前を決めましょう！", edit_user_registration_path, class: "text-decoration-none" %><br>
    <% end %><br>
    <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-success text-light" %>
  <% else %>
    ゲストユーザーです。
  <% end %><br><br>


  <h1>みんなの蜜</h1>

  <div class="row">
    <% @mitsus.reverse_each do |mitsu| %>
      <div class="col-12 col-sm-12 col-md-5 mitsu-panel card ms-2 me-2 mb-3">
        <h2><%= mitsu.title %></h2>
        <%= mitsu.content.truncate(20) %>
      　<%= link_to "ハチ名：#{mitsu.user.name}", user_path(mitsu.user), class: "text-decoration-none text-dark" %>
        Lv.<%= mitsu.level %><br>
        <div class="mitsu-links">
          <%= link_to '詳しくみる', mitsu, class: 'btn btn-outline-dark col-md-5' %>
          <% if mitsu.user.id == current_user.id %>
            <%= link_to '削除', mitsu, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger col-md-5' %>
          <% else %>
            <%= link_to "#{mitsu.user.name}のページに行く", "#", class: "btn btn-outline-success col-md-5" %>
          <% end %><br><br>
          <% if !mitsu.goods.where(user_id: current_user.id).empty? %>
            
              <%= link_to "#{mitsu.goods.count}いいね", "#", class: "btn btn-primary col-md-5" %>
            
              <%= link_to "イマイチ", "#", class: "btn btn-outline-danger col-md-5" %>
          <% elsif !mitsu.bads.where(user_id: current_user.id).empty? %>
            
              <%= link_to "#{mitsu.goods.count}いいね", "#", class: "btn btn-outline-primary col-md-5" %>
            
              <%= link_to "イマイチ", "#", class: "btn btn-danger col-md-5" %>
          <% else %>
            
              <%= link_to "#{mitsu.goods.count}いいね", mitsu_goods_path(mitsu), method: :post, class: "btn btn-outline-primary col-md-5" %>
            
              <%= link_to "イマイチ", mitsu_bads_path(mitsu), method: :post, class: "btn btn-outline-danger col-md-5" %>
          <% end %><br><br>
        </div>
      </div>
    <% end %>
    <%= paginate @mitsus %><br>
  </div>
</div>