<div class="container"><br><br>
  <% if @mitsu.user.name != nil %>
    <h1><%= @mitsu.user.name %>の蜜 </h1>
  <% else %>
    <h1><%= "ハチ#{@mitsu.user.id}（名前未設定）の蜜" %></h1>
  <% end %><br>

  <h3>タイトル:　<%= @mitsu.title %></h3><br>
  <h3>コンテンツ</h3>
  <h5 class="text-break"><%= @mitsu.content %></h5><br><br>

  <% if !@mitsu.goods.where(user_id: current_user.id).empty? %>
    <%= link_to "#{@mitsu.goods.count}いいね", "#", class: "btn btn-primary" %>
    <%= link_to "イマイチ", "#", class: "btn btn-outline-danger" %>
  <% elsif !@mitsu.bads.where(user_id: current_user.id).empty? %>
    <%= link_to "#{@mitsu.goods.count}いいね", "#", class: "btn btn-outline-primary" %>
    <%= link_to "イマイチ", "#", class: "btn btn-danger" %>
  <% else %>
    <%= link_to "#{@mitsu.goods.count}いいね", mitsu_goods_path(@mitsu), method: :post, class: "btn btn-outline-primary" %>
    <%= link_to "イマイチ", mitsu_bads_path(@mitsu), method: :post, class: "btn btn-outline-danger" %>
  <% end %>



  <h4><%= link_to "みんなの蜜", mitsus_path, class: "text-muted" %></h4>
</div>