<div class="container"><br><br>

  <% if @user.id == current_user.id %>
  	<h1>あなたのプロフィール</h1>
  <% else %>
  	<% if @user.name != "" %>
  		<h1><%= @user.name %>のプロフィール</h1>
  	<% else %>
  		<h1><%= "ハチ#{@user.id}(名前未設定)のプロフィール" %></h1>
  	<% end %>
  <% end %>

	<% if @user.icon.attached? %>
		<%= image_tag @user.icon, size: '100x100', class: "rounded-circle" %>
	<% else %>
		<%= image_tag "no_image.png", size: '100x100', class: "rounded-circle" %>
	<% end %>

  <% if @user.name != "" %>
    <h3><%= @user.name %></h3>
  <% else %>
    <h3><%= link_to "名前未設定", edit_user_registration_path, class: "text-decoration-none" %></h3><br>
  <% end %><br>
  <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-success text-light" if @user.id == current_user.id %>

	  <div class="follow-count">
	  	<%= link_to "フォロー数#{@user.following.count}", user_follow_path(@user), class: "text-dark" %>  <%= link_to "フォロワー数#{@user.follower.count}", user_follower_path(@user), class: "text-dark" %>
	  </div><br>

  <% if current_user.following.include?(@user) %>
  	<% relationship = Relationship.find_by(follower_id: current_user.id, followed_id: @user.id) %>
  	<%= link_to "フォロー解除", relationship_path(relationship.id), method: :delete, class: "btn btn-danger" %><br>
  <% else %>
  	<%= form_with model: @relationship, local: true do |f| %>
  		<%= f.hidden_field :followed_id, value: @user.id %>
  		<%= f.submit "フォロー", class: "btn btn-outline-success" %>
  	<% end %>
  <% end %><br>

  <h1>
  	<% if @user.id == current_user.id %>
  		<h1>あなたが作った蜜</h1>
  	<% else %>
  		<h1><%= @user.name %>が作った蜜</h1>
  	<% end %>
  </h1><br><br>

  <div class="row">
  	<% if @mitsus != [] %>
	    <% @mitsus.reverse_each do |mitsu| %>
	      <div class="col-12 col-md-5 mitsu-panel card ms-2 me-2 mb-3">
	        <h2><%= mitsu.title %></h2>
	        <p><%= mitsu.content.truncate(20) %></p>
	        <p><%= mitsu.created_at %></p>
	        <div class="mitsu-links">
	          <%= link_to '詳しく見る', mitsu, class: 'btn btn-outline-dark col-md-5' %>
	          <% if @user == current_user %> 
		          <%= link_to '削除', mitsu, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger col-md-5' %>
		        <% end %>
	        </div><br>
	      </div>
	    <% end %>
	    <%= paginate @mitsus %>
	<% else %>
		<h2>まだ蜜がありません。</h2>
		<h4><b><%= link_to "あなたも蜜を作ってみませんか？", new_mitsu_path, class: "text-muted" if @user == current_user %></b></h4>
	<% end %>
  </div>
</div>