<div class="container"><br><br>
	<div class="row">
		<div class="col-md-5">
			<h1>1.アカウント登録</h1>
			<h4>まずはアカウントを登録しましょう。<br>
					アカウント登録の際に"Lineでログイン"から<br>
					ログインすると簡単です。</h4>
		</div>

		<div class="col-md-7">
			<%= image_tag "sign_up.png", size: "600x400" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7">
			<%= image_tag "mitsu_index_btn.png", size: "600x400" %>
		</div>
		<div class="col-md-5">
			<h1>2.みんなの蜜を見る</h1>
			<h4>アカウントが登録できたらさっそく蜜を吸いにいきましょう。<br>
			"みんなの蜜"を押します。</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7">
			<%= image_tag "level.png", size: "600x400" %>
		</div>
		<div class="col-md-5">
			<h4>ボタンを押すと、みんなが作った蜜が表示されます。<br>
			気に入ったものがあったらいいねを押してみましょう。<br>
			蜜にはレベルがあり、いいねの数に応じてレベルは上がっていきます。<br>
			"イマイチ"がたくさんつくとレベルが下がってしまいます。
			</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<h1>3.蜜を作る</h1>
			<h4>それではあなたも蜜を作ってみましょう。<br>
			"蜜を作る"を押します。
			</h4>
		</div>
		<div class="col-md-7">
			<%= image_tag "create_btn.png", size:"600x400" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<h4>タイトルと中身を入力したら<br>
			"蜜を作る"ボタンを押しましょう。<br>
			最初はlv.1から始まり、たくさんの目に止まれば<br>
			どんどんlvが上がっていきます。</h4>
		</div>
		<div class="col-md-7">
			<%= image_tag "create_mitsu.png", size: "600x400" %>
		</div>
	</div>

	<h1 class="text-center">それでは、Hachimitsuをお楽しみください！<%= image_tag "bee.png", size: "50x50" %></h1>
</div>






