<!DOCTYPE html>
<html>
  <head>
    <title>蜂蜜</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/aebb7cd231.js" crossorigin="anonymous"></script>
  </head>

  <body class="pb-0">
    <header class="site-header sticky-top py-1 bg-dark">
      <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <%= link_to root_path do %>
          <%= image_tag "bee.png", size: "50x50" %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "トップ", root_path, class: "py-2 d-none d-md-inline-block text-decoration-none text-orange" %>
          <%= link_to "マイページ", user_path(current_user), class: "py-2 d-none d-md-inline-block text-decoration-none text-orange" %>
          <%= link_to "みんなの蜜", mitsus_path, class: "py-2 d-none d-md-inline-block text-decoration-none text-orange" %>
          <%= link_to "他のハチ", users_path, class: "py-2 d-none d-md-inline-block text-decoration-none text-orange" %>
          <%= link_to "蜜を作る", new_mitsu_path, class: "py-2 d-none d-md-inline-block text-decoration-none text-orange" %>
          <%= link_to "サインアウト", destroy_user_session_path, method: :delete, data: {confirm: 'ログアウトしますか？'}, class: "py-2 d-none d-md-inline-block text-decoration-none text-orange" %>
        <% else %>
          <%= link_to "アカウント作成（無料）", new_user_registration_path, class: "py-2 d-none d-md-inline-block text-decoration-none text-orange" %>
          <%= link_to "ログイン", new_user_session_path, class: "py-2 d-none d-md-inline-block text-decoration-none text-orange" %>
          <%= link_to "#{"Hachimitsu"}とは", "#", class: "py-2 d-none d-md-inline-block text-decoration-none text-orange" %>
        <% end %>
      </nav>
    </header>

    <%= yield %><br><br><br>
    
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md mt-2">
          <%= link_to root_path do %>
            <%= image_tag "bee.png", size: "50x50" %>
          <% end %>
          <small class="d-block mb-3 text-muted">© 2021</small>
          </div>

        </div>
      </div>
    </footer>

  </body>
</html>
