<div class="container"><br><br> 
  <h2>アカウント作成</h2>

  <b><%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, "名前", class: "form-label" %><br>
      <%= f.text_field :name, autofocus: true, placeholder: "名前（公開されます。）", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス", class: "form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@com", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード", class: "form-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "password", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード（確認）", class: "form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm", class: "form-control" %>
    </div><br>

    <div class="actions">
      <%= f.submit "アカウント作成", class: "btn btn-success" %>
    </div><br>
  <% end %>

  <%= render "users/shared/links" %></b>
</div>